@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Distribuidora</h1>
    
</div>
<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card_body">
        <a asp-action="Producto">Nuevo Producto</a>
    </div>
</div>